.btn-group.btn-group-justified
    .btn-group(style="padding-right: 2px")
        button#ecko-listview_in.btn.btn-xs.btn-success(type="button") Show
    .btn-group.btn-group-justified
        .btn-group(style="padding-left: 2px")
        button#ecko-listview_out.btn.btn-xs.btn-danger(type="button") Hide
